html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    float: left;
    width: 100%;
    height: 100%;
}
#right-panel {
    float: left;
    /*        width: 18%;*/
    height: 100%;
}
.panel {
    height: 100%;
    overflow: auto;
}
#right-panel {
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#right-panel select,
#right-panel input {
    font-size: 15px;
}
#right-panel select {
    width: 100%;
}
#right-panel i {
    font-size: 12px;
}
#input_area {
    width: 100%;
    height: 100%;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#input_departure {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 15%;
}
#input_departure:focus {
    border-color: #4d90fe;
}
#input_arrival {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 15%;
}
#input_arrival:focus {
    border-color: #4d90fe;
}
#input_time {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 12%;
}
#input_time:focus {
    border-color: #4d90fe;
}
#input_seat {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 8%;
}
#input_seat:focus {
    border-color: #4d90fe;
}
#search {
    background-color: lightyellow;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
}
.pac-container {
    font-family: Roboto;
}
#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}
#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 345px;
}
#right_result {
    color: aqua;
}
#left_result {
    color: aqua;
}
.head {
    color: lightyellow;
}
@media screen and (max-width: 768px) {
    #input_departure {
        width: auto;
    }
    #input_arrival {
        width: auto;
    }
    #input_time {
        width: auto;
    }
    #input_seat {
        width: auto;
    }
}
